body {
  margin: 0;
  color: #444;
  background-color: #efeff4;
  font: 14px/1.7 'Helvetica Neue', 'Roboto', 'Segoe UI', 'Microsoft YaHei', sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 1200px;

  & h2,
  & h3 {
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: normal;
  }

  & section {
    margin: .5em 0;
    border-top: 1px solid #eee;
  }

  & code {
    display: block;
    padding: .6em .8em;
    font-size: .9em;
    font-family: Menlo, monospace;
    white-space: pre-wrap;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.pageInner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.doc {
  padding: 0 1em;

  @media (min-width: 600px) {
    width: 600px;
  }
}

.demo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  min-width: 400px;
}

.optionName {
  padding-right: .5em;
}

.columns {
  display: flex;
}

.select {
  display: inline-block;
  margin-right: .5em;
  min-width: 5em;

  & label {
    display: block;
    cursor: pointer;
  }

  &.isInline label {
    display: inline-block;
  }

  & input[type="radio"] {
    margin-right: 5px;
    width: 12px;
    height: 12px;
  }
}

.scroller {
  position: relative;
  overflow: auto;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  background-color: #fff;
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;

  & .scrollerInner {
    min-width: 2000px;
    min-height: 2000px;
  }

  & .anchor {
    margin-left: 380px;
    margin-top: 250px;
  }
}

.status {
  position: fixed;
  top: 0;
  left: 0;
  padding: .25em .5em;
  color: rgb(173, 173, 188, .5);
}

.anchor {
  display: block;
  min-width: 100px;
  height: 40px;
  color: #fff;
  border: none;
  text-align: center;
  background-color: green;
  white-space: nowrap;
  outline: none;
  cursor: move;

  & code {
    background: none;
  }
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;

  &.isFixed {
    position: fixed;
  }

  & pre {
    font-size: .85em;
  }
}
